{% extends 'PerspectiveCub/layout.html' %}
{% load static %}  
{% block head %}
<link rel='stylesheet' href="{% static 'PerspectiveCub/viewPost_styles.css' %}">
<script src="https://cdnjs.cloudflare.com/ajax/libs/html2pdf.js/0.9.2/html2pdf.bundle.js"></script>
{% endblock %}
{% block body %}
<div class="full_post" id="full_post">
  <form action="edit_post/{{ post.id }}" method="POST" id="edit_post">
    {% csrf_token %}
  <h1 class="title" id="title">{{ title }}</h1>
  <input name="edit_title" id="edit_form_title" type="text" value="{{ title }}">
  <h3 class="author">Author: {{ author }} </h3>
  <h5 class="timestamp">Posted on: {{ timestamp }}</h5>
  <br>
  <br>
  <div class="content" id="content">{{ content|linebreaks }}</div>
  <textarea name="edit_content" id="edit_form_content">{{ content }}</textarea>
  <br>
  <input type="submit" value="Submit" id="edit_submit">
  </form>
</div>
{% if user.username == author %}
<div class="author_buttons">
  <button class="black_button" id="edit_post_button">Edit Post</button>
  <form action="delete/{{ post.id }}" method="POST">
  {% csrf_token %}
   <input type="submit" class="delete_button" value="Delete">
  </form> 
</div>
{% else %}
<form action="favorites/{{ post.id }}" method="POST">
  {% csrf_token %}
     <input type="submit" value="Add to favorites">
    </form>
{% endif %}
<br>
<button class="black_button" id="dl_button">Download article</button>
    <script src="{% static 'PerspectiveCub/view_post.js' %}" ></script>
{% endblock %}
